<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Plugins css -->
	<link th:href="@{/assets/libs/dropzone/min/dropzone.min.css}" rel="stylesheet" type="text/css" />
</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Brands</h5>
										<div class="flex-shrink-0">
											<a type="button" class="btn btn-primary waves-effect waves-light"
											   href="/brand/" >Brand List</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<form class="needs-validation" method="post" role="form" th:action="@{/brand/create}" th:object="${brand}"
										  enctype="multipart/form-data">
										<div th:if="${param.success}">
											<div class="alert alert-info alert-dismissible fade show" role="alert">
												You have successfully added a new tyre brand!
												<button type="button" class="btn-close" data-bs-dismiss="alert"
														aria-label="Close"></button>
											</div>
										</div>


										<div th:if="${param.error}">
											<div class="alert alert-danger">Try again later</div>
										</div>

										<div class="mb-3">
											<label for="brandName" class="form-label">Brand Name</label>
											<input type="text" class="form-control" id="brandName" name="brandName" th:field="*{brandName}" placeholder="Enter brand name" required>
											<p th:errors="*{brandName}" class="text-danger" th:if="${#fields.hasErrors('brandName')}"></p>
										</div>



										<div class="mb-3">
											<label for="type" class="form-label">Brand Type</label>
											<select class="form-select" id="type" name="type" required>
												<option value="" selected disabled>Select a brand type</option>
												<option value="Tyre">Tyre</option>
												<option value="Truck">Truck</option>
											</select>
											<p th:errors="*{type}" class="text-danger" th:if="${#fields.hasErrors('type')}"></p>
										</div>


										<div class="mb-3">
											<label for="state" class="form-label">Status</label>
											<select class="form-select" id="state" name="state" required>
												<option value="" selected disabled>Select status</option>
												<option value="active">active</option>
												<option value="inactive">inactive</option>
											</select>
											<p th:errors="*{state}" class="text-danger" th:if="${#fields.hasErrors('state')}"></p>
										</div>



										<div class="mb-3">
											<label for="comments" class="form-label">Comments</label>
											<textarea type="text"  class="form-control" id="comments" name="comments" th:field="*{comments}" placeholder="Enter comments"></textarea>
											<p th:errors="*{comments}" class="text-danger" th:if="${#fields.hasErrors('comments')}"></p>
										</div>

										<br>
										<div class="mt-4 d-grid">
											<button class="btn btn-primary waves-effect waves-light" type="submit">Add Brand</button>
										</div>
									</form>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->

				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->
		</div>
	</div>

	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>
		<!-- Plugins js -->
		<script th:src="@{/assets/libs/dropzone/min/dropzone.min.js}"></script>
		<script>
			$(document).ready(function () {
				$('#myDropzone').submit(function (e) {
					e.preventDefault(); // Prevent the default form submission

					var formData = new FormData();
					var files = $('#fileInput')[0].files; // Get selected files from file input

					for (var i = 0; i < files.length; i++) {
						formData.append('files', files[i]); // Use 'files' as the parameter name
					}

					// Optionally, you can add other form data fields if needed
					formData.append('kind', 'tyre'); // Add 'kind' field

					$.ajax({
						type: 'POST',
						url: '/api/upload',
						data: formData,
						processData: false,
						contentType: false,
						success: function (data) {
							// Handle success response
							displayUploadResults(data);
						},
						error: function (error) {
							// Handle error response
							console.log("error: ", error);
							console.error(error);
						}
					});
				});

				function displayUploadResults(data) {
					var resultsDiv = $('#uploadResults');
					resultsDiv.empty(); // Clear previous results

					if (data.length > 0) {
						resultsDiv.append('<p>Uploaded files:</p>');
						var ul = $('<ul>');

						$.each(data, function (index, fileName) {
							ul.append($('<li>').text(fileName));
						});

						resultsDiv.append(ul);
					} else {
						resultsDiv.append('<p>No files uploaded.</p>');
					}
				}
			});


		</script>


	</th:block>

</body>