<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Brand Details</h5>
										<div class="flex-shrink-0">
											<a type="button" class="btn btn-primary waves-effect waves-light"
											   href="/brand/" >Brand List</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<form class="needs-validation" method="post" role="form" th:action="@{/brand/update}" th:object="${brand}">
										<div th:if="${param.success}">
											<div class="alert alert-info alert-dismissible fade show" role="alert">
												You have successfully updated this brand!
												<button type="button" class="btn-close" data-bs-dismiss="alert"
														aria-label="Close"></button>
											</div>
										</div>

										<div class="mb-3">
											<input hidden type="text" class="form-control" id="id" name="id" th:field="*{id}" required>
										</div>


										<div class="mb-3">
											<label for="brandName" class="form-label">Brand Name</label>
											<input type="text" class="form-control" id="brandName" name="brandName" th:field="*{brandName}" placeholder="Enter TAK Identification Number" required>
											<p th:errors="*{brandName}" class="text-danger" th:if="${#fields.hasErrors('brandName')}"></p>
										</div>


										<div class="mb-3">
											<label for="type" class="form-label">Type</label>
											<select class="form-select" id="type" name="type" th:field="*{type}" required>
												<option value="" selected disabled>Select a brand brand</option>
												<option value="Tyre">Tyre</option>
												<option value="Truck">Truck</option>
											</select>
											<p th:errors="*{type}" class="text-danger" th:if="${#fields.hasErrors('type')}"></p>
										</div>




										<div class="mb-3">
											<label for="state" class="form-label">Status</label>
											<select class="form-select" id="state" name="state" th:field="*{state}" required>
												<option value="" selected disabled>Select a brand status</option>
												<option value="AVAILABLE">AVAILABLE</option>
												<option value="COMMISSIONED">COMMISSIONED</option>
												<option value="UNDER MAINTENANCE">UNDER MAINTENANCE</option>
												<option value="DECOMMISSIONED">DECOMMISSIONED</option>
												<option value="TO PROCURE">TO PROCURE</option>
											</select>
											<p th:errors="*{state}" class="text-danger" th:if="${#fields.hasErrors('state')}"></p>
										</div>


										<div class="mb-3">
											<label for="comments" class="form-label">Comments</label>
											<textarea type="text" class="form-control" id="comments" name="comments" th:field="*{comments}" placeholder="Enter comments"></textarea>
											<p th:errors="*{comments}" class="text-danger" th:if="${#fields.hasErrors('comments')}"></p>
										</div>



										<!-- Add more fields for other properties -->
										<!-- For example, VIN, Make, Model, Brand, Year, Odometer, etc. -->

										<div class="mt-4 d-grid">
											<button class="btn btn-primary waves-effect waves-light" type="submit">Edit Brand</button>
										</div>
									</form>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->
	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>
	</th:block>

</body>