<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Brand Details</h5>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title mb-8">Brand Information</h4>

									<div class="table-responsive">
										<table class="table table-nowrap mb-0">
											<tbody>
											<tr>
												<th scope="row">Brand Name</th>
												<td th:text="${brand.brandName}"></td>
											</tr>
											<tr>
												<th scope="row">Brand Type</th>
												<td th:text="${brand.type}"></td>
											</tr>

											<tr>
												<th scope="row">Comments:</th>
												<td th:text="${brand.comments}"></td>
											</tr>
											<tr>
												<th scope="row">State:</th>
												<td >
													<span class="badge badge-soft-success" th:if="${brand.state == 'active'}">active</span>
													<span class="badge badge-soft-warning" th:if="${brand.state == 'inactive'}">inactive</span>
												</td>
											</tr>
											<tr>
												<th scope="row">Created Date:</th>
												<td th:text="${#temporals.format(brand.createdDate, 'dd/MM/yyyy HH:mm')}"></td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					</div>


				</div>
					<!--  end row -->
				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->

			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->

		</div>
	</div>
	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<script>
			function deleteFile(id){
				alert('aded');
				$.ajax({
					url: '/api/files/delete/'+id,
					method: 'DELETE',
					success: function () {
						alert('record has been deleted');
						location.reload();
					},
					error: function (error) {
						alert(error);
					}
				})
			}

		</script>
	</th:block>

</body>