<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Edit My Profile</h5>
									</div>
								</div>
								<div class="card-body">
									<!-- sample modal content -->
									<form class="needs-validation" method="post" role="form"  th:action="@{/user/profile/modify}"  th:object="${user}">
										<div th:if="${param.success}">
											<div class="alert alert-info alert-dismissible fade show" role="alert">
												You have successfully edited your profile!
												<button type="button" class="btn-close" data-bs-dismiss="alert"
														aria-label="Close"></button>
											</div>
										</div>

										<div class="mb-3">
											<label for="name" class="form-label">Full name</label>
											<input type="text" class="form-control" id="name" name="name" th:field="*{name}" th:value="${user.name}" placeholder="Enter username" required>
											<p th:errors = "*{name}" class="text-danger"
											   th:if="${#fields.hasErrors('name')}"></p>
										</div>

										<div class="mb-3">
											<label for="name" class="form-label">Mobile</label>
											<input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" th:value="*{phone}" placeholder="Enter mobile" required>
											<p th:errors = "*{phone}" class="text-danger"
											   th:if="${#fields.hasErrors('phone')}"></p>
										</div>


										<div class="text-center mt-4">
											<button class="btn btn-primary waves-effect waves-light" type="submit">Save Changes</button>
										</div>
									</form>

								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->

				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->

			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->

		</div>
	</div>
	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>
	</th:block>

</body>