<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Profile</h5>
										<div class="flex-shrink-0">
											<a type="button" class="btn btn-primary waves-effect waves-light"
											   href="/user/profile/edit" >Edit</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title mb-8">Personal Information</h4>

									<div class="table-responsive">
										<table class="table table-nowrap mb-0">
											<tbody>
											<tr>
												<th scope="row">Full Name :</th>
												<td th:text="${user.name}" ></td>
											</tr>
											<tr>
												<th scope="row">Mobile :</th>
												<td th:text="${user.phone}"></td>
											</tr>
											<tr>
												<th scope="row">E-mail :</th>
												<td th:text="${user.email}"></td>
											</tr>
											<tr>
												<th scope="row">Status :</th>
												<td th:text="${user.status}"></td>
											</tr>
											<tr>
												<th scope="row">Role :</th>
												<td>
													<span class="badge badge-soft-danger" th:if="${user.roles[0].name == 'ROLE_TO'}"> Tyre Officer</span>
													<span class="badge badge-soft-info" th:if="${user.roles[0].name == 'ROLE_ADMIN'}"> Admin</span>
													<span class="badge badge-soft-warning" th:if="${user.roles[0].name == 'ROLE_HOO'}"> Head of Operations</span>
													<span class="badge badge-soft-success" th:if="${user.roles[0].name == 'ROLE_PO'}"> Procurement Officer</span>
												</td>
											<tr>
												<th scope="row">Created Date :</th>
												<td th:text="${#temporals.format(user.createdDate, 'dd/MM/yyyy HH:mm')}"></td>
											</tr>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
									<!-- end card -->
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->
				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->

			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->

		</div>
	</div>
	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>
	</th:block>

</body>