<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Plugins css -->
	<link th:href="@{/assets/libs/dropzone/min/dropzone.min.css}" rel="stylesheet" type="text/css" />

</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Truck Details</h5>
										<div class="flex-shrink-0">
											<a type="button" class="btn btn-primary waves-effect waves-light"
											   href="/truck/" >Truck List</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<form class="needs-validation" method="post" role="form" th:action="@{/truck/create}" th:object="${truck}">
										<div th:if="${param.success}">
											<div class="alert alert-info alert-dismissible fade show" role="alert">
												You have successfully added a new truck!
												<button type="button" class="btn-close" data-bs-dismiss="alert"
														aria-label="Close"></button>
											</div>
										</div>

										<div class="mb-3">
											<label for="truckType" class="form-label">Truck Type</label>
											<select class="form-select" id="truckType" name="truckType" required>
												<option value="" selected disabled>Select a truck type</option>
												<option value="Pickup Truck">Pickup Truck</option>
												<option value="Semi-Truck">Semi-Truck</option>
												<option value="Flatbed Truck">Flatbed Truck</option>
												<option value="Dump Truck">Dump Truck</option>
												<!-- Add more popular truck types as needed -->
											</select>
											<p th:errors="*{truckType}" class="text-danger" th:if="${#fields.hasErrors('truckType')}"></p>
										</div>

										<div class="mb-3">
											<label for="licensePlateNumber" class="form-label">License Plate Number</label>
											<input type="text" class="form-control" id="licensePlateNumber" name="licensePlateNumber" th:field="*{licensePlateNumber}" placeholder="Enter license plate number" required>
											<p th:errors="*{licensePlateNumber}" class="text-danger" th:if="${#fields.hasErrors('licensePlateNumber')}"></p>
										</div>

										<div class="mb-3">
											<label for="vin" class="form-label">Vehicle Identification Number (VIN)</label>
											<input type="text" class="form-control" id="vin" name="vin" th:field="*{vin}" placeholder="Enter Vehicle Identification Number (VIN)" required>
											<p th:errors="*{vin}" class="text-danger" th:if="${#fields.hasErrors('vin')}"></p>
										</div>

										<div class="mb-3">
											<label for="vin" class="form-label">TAK ID</label>
											<input type="text" class="form-control" id="takId" name="vin" th:field="*{takId}" placeholder="Enter TAK Identification Number" required>
											<p th:errors="*{takId}" class="text-danger" th:if="${#fields.hasErrors('takId')}"></p>
										</div>

										<div class="mb-3">
											<label for="brand" class="form-label">Brand</label>
											<select class="form-select" id="brand" name="brand" required>
												<option value="" selected disabled>Select a truck brand</option>
												<option value="Ford">Ford</option>
												<option value="Chevrolet">Chevrolet</option>
												<option value="Toyota">Toyota</option>
												<option value="Dodge">Dodge</option>
												<!-- Add more popular truck makes as needed -->
											</select>
											<p th:errors="*{brand}" class="text-danger" th:if="${#fields.hasErrors('brand')}"></p>
										</div>

										<div class="mb-3">
											<label for="model" class="form-label">Model</label>
											<input type="text" class="form-control" id="model" name="model" th:field="*{model}" placeholder="Enter license plate number" required>
											<p th:errors="*{model}" class="text-danger" th:if="${#fields.hasErrors('model')}"></p>
										</div>


										<div class="mb-3">
											<label for="purchaseDate" class="form-label">Purchase Date</label>
											<input type="date" class="form-control" id="purchaseDate" name="manufactureDate" th:field="*{purchaseDate}" placeholder="Enter purchase date" required>
											<p th:errors="*{purchaseDate}" class="text-danger" th:if="${#fields.hasErrors('purchaseDate')}"></p>
										</div>

										<div class="mb-3">
											<label for="manufactureDate" class="form-label">Manufacture Date</label>
											<input type="date" class="form-control" id="manufactureDate" name="manufactureDate" th:field="*{manufactureDate}" placeholder="Enter manufacture date" required>
											<p th:errors="*{manufactureDate}" class="text-danger" th:if="${#fields.hasErrors('manufactureDate')}"></p>
										</div>

										<div class="mb-3">
											<label for="odometer" class="form-label">Odometer</label>
											<input type="number" min="0" class="form-control" id="odometer" name="odometer" th:field="*{odometer}" placeholder="Enter odometer reading" required>
											<p th:errors="*{odometer}" class="text-danger" th:if="${#fields.hasErrors('odometer')}"></p>
										</div>

										<div class="mb-3">
											<label for="state" class="form-label">Status</label>
											<select class="form-select" id="state" name="state" required>
												<option value="" selected disabled>Select a truck status</option>
												<option value="AVAILABLE">AVAILABLE</option>
												<option value="COMMISSIONED">COMMISSIONED</option>
												<option value="UNDER MAINTENANCE">UNDER MAINTENANCE</option>
												<option value="DECOMMISSIONED">DECOMMISSIONED</option>
											</select>
											<p th:errors="*{state}" class="text-danger" th:if="${#fields.hasErrors('state')}"></p>
										</div>

										<div class="mb-3">
											<label for="comments" class="form-label">Comments</label>
											<textarea type="text"  class="form-control" id="comments" name="comments" th:field="*{comments}" placeholder="Enter comments"></textarea>
											<p th:errors="*{comments}" class="text-danger" th:if="${#fields.hasErrors('comments')}"></p>
										</div>



										<!-- Add more fields for other properties -->
										<!-- For example, VIN, Make, Model, Brand, Year, Odometer, etc. -->

										<div class="mt-4 d-grid">
											<button class="btn btn-primary waves-effect waves-light" type="submit">Add Truck</button>
										</div>
									</form>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->

					<!-- start file upload -->
					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body">

									<h4 class="card-title">Truck Files</h4>
									<p class="card-title-desc">You can upload all the files relating to this truck here...
									</p>

									<div>
										<form action="#" class="dropzone">
											<div class="fallback">
												<input name="file" type="file" multiple="multiple">
											</div>
											<div class="dz-message needsclick">
												<div class="mb-3">
													<i class="display-4 text-muted bx bxs-cloud-upload"></i>
												</div>

												<h4>Drop files here or click to upload.</h4>
											</div>
										</form>
									</div>

									<div class="text-center mt-4">
										<button type="button" class="btn btn-primary waves-effect waves-light">Upload</button>
									</div>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end file upload -->
				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->
		</div>
	</div>

	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>
		<!-- Plugins js -->
		<script th:src="@{/assets/libs/dropzone/min/dropzone.min.js}"></script>
	</th:block>

</body>