<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Plugins css -->
	<link th:href="@{/assets/libs/dropzone/min/dropzone.min.css}" rel="stylesheet" type="text/css" />
</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Tyre Details</h5>
										<div class="flex-shrink-0">
											<a type="button" class="btn btn-primary waves-effect waves-light"
											   href="/tyre/" >Tyre List</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<form class="needs-validation" method="post" role="form" th:action="@{/tyre/create}" th:object="${tyre}"
										  enctype="multipart/form-data">
										<div th:if="${param.success}">
											<div class="alert alert-info alert-dismissible fade show" role="alert">
												You have successfully added a new tyre!
												<button type="button" class="btn-close" data-bs-dismiss="alert"
														aria-label="Close"></button>
											</div>
										</div>


										<div th:if="${param.error}">
											<div class="alert alert-danger">Try again later.</div>
										</div>

										<div class="mb-3">
											<label for="serialNumber" class="form-label">Serial Number</label>
											<input type="text" class="form-control" id="serialNumber" name="serialNumber" th:field="*{serialNumber}" placeholder="Enter serial number" required>
											<p th:errors="*{serialNumber}" class="text-danger" th:if="${#fields.hasErrors('serialNumber')}"></p>
										</div>


										<div class="mb-3">
											<label for="takId" class="form-label">TAK ID</label>
											<input type="text" class="form-control" id="takId" name="vin" th:field="*{takId}" placeholder="Enter TAK Identification Number" required>
											<p th:errors="*{takId}" class="text-danger" th:if="${#fields.hasErrors('takId')}"></p>
										</div>


										<div class="mb-3">
											<label for="brand" class="form-label">Brand</label>
											<select class="form-select" id="brand" name="brand" required>
												<option value="" selected disabled>Select a tyre brand</option>
												<option th:each="brand : ${brands}" th:value="${brand.brandName}" th:text="${brand.brandName}"></option>
												<!-- Add more popular truck makes as needed -->
											</select>
											<p th:errors="*{brand}" class="text-danger" th:if="${#fields.hasErrors('brand')}"></p>
										</div>


										<div class="mb-3">
											<label for="size" class="form-label">Tyre Size</label>
											<select class="form-select" id="size" name="size" required>
												<option value="" selected disabled>Select a tyre size</option>
												<option value="225/55/R18">225/55/R18</option>
												<option value="235/60/R17">235/60/R17</option>
												<option value="245/65/R16">245/65/R16</option>
												<option value="255/70/R15">255/70/R15</option>
												<!-- Add more popular tyre types as needed -->
											</select>
											<p th:errors="*{size}" class="text-danger" th:if="${#fields.hasErrors('size')}"></p>
										</div>

										<div class="mb-3">
											<label for="position" class="form-label">Tyre Position</label>
											<select class="form-select" id="position" name="position" required>
												<option value="" selected disabled>Select a tyre position</option>
												<option value="LS">LS</option>
												<option value="RS">RS</option>
												<option value="D1OL">D1OL</option>
												<option value="D1IL">D1IL</option>
												<option value="D1IR">D1IR</option>
												<option value="D1OR">D1OR</option>
												<option value="D2OL">D2OL</option>
												<option value="D2IL">D2IL</option>
												<option value="D2IR">D2IR</option>
												<option value="D2OR">D2OR</option>
												<option value="T1OL">T1OL</option>
												<option value="T1IL">T1IL</option>
												<option value="T1IR">T1IR</option>
												<option value="T1OR">T1OR</option>
												<option value="T2OL">T2OL</option>
												<option value="T2IL">T2IL</option>
												<option value="T2IR">T2IR</option>
												<option value="T2OR">T2OR</option>
												<option value="T3OL">T3OL</option>
												<option value="T3IL">T3IL</option>
												<option value="T3IR">T3IR</option>
												<option value="T3OR">T3OR</option>
												<option value="Spare">Spare1</option>
												<option value="Spare">Spare2</option>
												<!-- Add more tyre positions as needed -->
											</select>
											<p th:errors="*{position}" class="text-danger" th:if="${#fields.hasErrors('position')}"></p>
										</div>



										<div class="mb-3">
											<label for="treadDepth" class="form-label">Tread Depth</label>
											<input type="number" min="0" class="form-control" id="treadDepth" name="treadDepth" th:field="*{treadDepth}" placeholder="Enter tread depth" required>
											<p th:errors="*{treadDepth}" class="text-danger" th:if="${#fields.hasErrors('treadDepth')}"></p>
										</div>


										<div class="mb-3">
											<label for="purchaseDate" class="form-label">Purchase Date</label>
											<input type="date" class="form-control" id="purchaseDate" name="manufactureDate" th:field="*{purchaseDate}" placeholder="Enter purchase date" required>
											<p th:errors="*{purchaseDate}" class="text-danger" th:if="${#fields.hasErrors('purchaseDate')}"></p>
										</div>


										<div class="mb-3">
											<label for="manufactureDate" class="form-label">Manufacture Date</label>
											<input type="date" class="form-control" id="manufactureDate" name="manufactureDate" th:field="*{manufactureDate}" placeholder="Enter manufacture date" required>
											<p th:errors="*{manufactureDate}" class="text-danger" th:if="${#fields.hasErrors('manufactureDate')}"></p>
										</div>

										<div class="mb-3">
											<label for="odometer" class="form-label">Odometer</label>
											<input type="number" min="0" class="form-control" id="odometer" name="odometer" th:field="*{odometer}" placeholder="Enter odometer reading">
											<p th:errors="*{odometer}" class="text-danger" th:if="${#fields.hasErrors('odometer')}"></p>
										</div>


										<div class="mb-3">
											<label for="expectedLifeSpanOdometer" class="form-label">Expected Lifecycle Odometer</label>
											<input type="number" min="0" class="form-control" id="expectedLifeSpanOdometer" name="expectedLifeSpanOdometer" th:field="*{expectedLifeSpanOdometer}" placeholder="Enter expected lifecycle odometer reading" required>
											<p th:errors="*{expectedLifeSpanOdometer}" class="text-danger" th:if="${#fields.hasErrors('expectedLifeSpanOdometer')}"></p>


										<div class="mb-3">
											<label for="state" class="form-label">Status</label>
											<select class="form-select" id="state" name="state" required>
												<option value="" selected disabled>Select a tyre status</option>
												<option value="AVAILABLE">AVAILABLE</option>
												<option value="COMMISSIONED">COMMISSIONED</option>
												<option value="UNDER MAINTENANCE">UNDER MAINTENANCE</option>
												<option value="DECOMMISSIONED">DECOMMISSIONED</option>
												<option value="TO PROCURE">TO PROCURE</option>
											</select>
											<p th:errors="*{state}" class="text-danger" th:if="${#fields.hasErrors('state')}"></p>
										</div>


										<div class="mb-3">
											<label for="comments" class="form-label">Comments</label>
											<textarea type="text"  class="form-control" id="comments" name="comments" th:field="*{comments}" placeholder="Enter comments"></textarea>
											<p th:errors="*{comments}" class="text-danger" th:if="${#fields.hasErrors('comments')}"></p>
										</div>

										<br>
										<hr style="height:1px;border-width:0;color:gray;background-color:gray">
										<br>
										<h4 class="card-title">Tyre Files</h4>
										<p class="card-title-desc">You can upload all the files relating to this tyre here...
										</p>

										<div class="mb-3">
											<input id="files" type="file" class="form-control form-control-md" name="files" multiple="multiple" />
											<p th:errors="*{file}" class="text-danger" th:if="${#fields.hasErrors('file')}"></p>
										</div>
										<div class="mt-4 d-grid">
											<button class="btn btn-primary waves-effect waves-light" type="submit">Add Tyre</button>
										</div>
									</form>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->

				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->
		</div>
	</div>

	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>
		<!-- Plugins js -->
		<script th:src="@{/assets/libs/dropzone/min/dropzone.min.js}"></script>
		<script>
			$(document).ready(function () {
				$('#myDropzone').submit(function (e) {
					e.preventDefault(); // Prevent the default form submission

					var formData = new FormData();
					var files = $('#fileInput')[0].files; // Get selected files from file input

					for (var i = 0; i < files.length; i++) {
						formData.append('files', files[i]); // Use 'files' as the parameter name
					}

					// Optionally, you can add other form data fields if needed
					formData.append('kind', 'tyre'); // Add 'kind' field

					$.ajax({
						type: 'POST',
						url: '/api/upload',
						data: formData,
						processData: false,
						contentType: false,
						success: function (data) {
							// Handle success response
							displayUploadResults(data);
						},
						error: function (error) {
							// Handle error response
							console.log("error: ", error);
							console.error(error);
						}
					});
				});

				function displayUploadResults(data) {
					var resultsDiv = $('#uploadResults');
					resultsDiv.empty(); // Clear previous results

					if (data.length > 0) {
						resultsDiv.append('<p>Uploaded files:</p>');
						var ul = $('<ul>');

						$.each(data, function (index, fileName) {
							ul.append($('<li>').text(fileName));
						});

						resultsDiv.append(ul);
					} else {
						resultsDiv.append('<p>No files uploaded.</p>');
					}
				}
			});


		</script>


	</th:block>

</body>