<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">

</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">

			<!-- Large modal example -->
			<div class="modal fade" id="actionHistoryModal" tabindex="-1" role="dialog"
				 aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myLargeModalLabel">Action Records</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="table-responsive">
								<table class="table table-bordered dt-responsive nowrap w-100" id="actionTable">
									<thead>
									<tr>
										<th>S/N</th>
										<th>Action Type</th>
										<th>Odometer</th>
										<th>Actual PSI</th>
										<th>Rec. PSI</th>
										<th>Odo. Inc.</th>
										<th>Date</th>
										<!-- Add more table headers as needed -->
									</tr>
									</thead>
									<tbody id="actionTableBody">
									<!-- Table rows will be dynamically added here using JavaScript -->
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="page-content">
				<div class="container-fluid">
					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Tyre List</h5>
										<div class="flex-shrink-0">
											<a type="button" class="btn btn-primary waves-effect waves-light"
											   href="/tyre/add">Add New Tyre</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
										<thead>
										<tr>
											<th>No</th>
											<th>S/N</th>
											<th>TAK ID</th>
											<th>Brand</th>
											<th>Size</th>
											<th>Date</th>
											<th>Position</th>
											<th>Odometer</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
										</thead>
										<tbody>
										<!-- Use Thymeleaf to iterate over the tyres -->
										<tr th:each="tyre, iterStat : ${tyres}">
											<td th:text="${iterStat.count}"></td>
											<td th:text="${tyre.serialNumber}"></td>
											<td th:text="${tyre.takId}"></td>
											<td th:text="${tyre.brand}"></td>
											<td th:text="${tyre.size}"></td>
											<td th:text="${tyre.purchaseDate}"></td>
											<td th:text="${tyre.position}"></td>
											<td th:text="${tyre.odometer}"></td>
											<td >
												<span class="badge badge-soft-danger" th:if="${tyre.state == 'DECOMMISSIONED'}">DECOMMISSIONED</span>
												<span class="badge badge-soft-primary" th:if="${tyre.state == 'COMMISSIONING'}">COMMISSIONING</span>
												<span class="badge badge-soft-info" th:if="${tyre.state == 'COMMISSIONED'}">COMMISSIONED</span>
												<span class="badge badge-soft-dark" th:if="${tyre.state == 'DECOMMISSIONING'}">DECOMMISSIONING</span>
												<span class="badge badge-soft-warning" th:if="${tyre.state == 'UNDER MAINTENANCE'}">UNDER MAINTENANCE</span>
												<span class="badge badge-soft-success" th:if="${tyre.state == 'AVAILABLE'}">AVAILABLE</span>
												<span class="badge badge-soft-secondary" th:if="${tyre.state == 'TO PROCURE'}">TO PROCURE</span>
											</td>
											<td>
												<div class="btn-group">
													<button class="btn btn-secondary dropdown-toggle" type="button"
															id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true"
															aria-expanded="false">
														Actions <i class="mdi mdi-chevron-down"></i>
													</button>
													<ul class="dropdown-menu" aria-labelledby="defaultDropdown">
														<li><a class="dropdown-item"  th:href="@{'/tyre/view/' + ${tyre.id}}">View</a></li>
														<li><a class="dropdown-item"  th:href="@{'/tyre/edit/' + ${tyre.id}}">Edit</a></li>
														<div class="dropdown-divider"></div>
														<li>
															<a class="dropdown-item btn btn-primary waves-effect waves-light"
															   data-bs-toggle="modal" data-bs-target="#actionHistoryModal"
															   th:attr="onclick='populateActionHistoryModal(\'' + ${tyre.id} + '\', \'' + ${tyre.brand} + '\', \'' + ${tyre.takId} + '\')'">
																View Actions
															</a>
														</li>
													</ul>
												</div>

											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->
				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->
		</div>
	</div>

	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>

		<script th:inline="javascript">

			$(document).ready(function() {});


			function populateActionHistoryModal(id, brand, takId) {
				var actionTable = $('#actionTable').DataTable();

				// Use AJAX to fetch tyre data from the server
				$.ajax({
					url: '/api/tyre/' + id + "/actions",  // Replace with your actual endpoint
					method: 'GET',
					dataType: 'json',
					success: function (actionsData) {
						// Assuming you have a 'tyreData' object with 'actions'
						console.log("here: ");
						console.log("actions: ", actionsData);
						document.getElementById('myLargeModalLabel').innerText = 'Action Records for Tyre ' + brand + ' ' + takId;

						// Clear existing data in the DataTable
						actionTable.clear();

						var serialNumber = 1;
						// Iterate over actions and dynamically generate table rows
						actionsData.forEach(function (action) {
							var row = [
								serialNumber++,
								action.type,
								action.odometerBeforeAction,
								action.actualPSI,
								action.recPSI,
								action.expectedLifeSpanIncreaseOdometer,
								action.createdDate.substring(0, 10),
								// Add more columns as needed
							];
							// Add the new row to DataTable
							actionTable.row.add(row);
						});

						// Draw the DataTable to reflect the changes
						actionTable.draw();

						// Open the modal
						$('#actionHistoryModal').modal('show');
					},
					error: function (error) {
						console.error('failure:');
						console.error('Error fetching tyre data:', error);
					}
				});
			}
		</script>
	</th:block>

</body>