<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Tyre List</h5>
										<div class="flex-shrink-0">
											<a type="button" class="btn btn-primary waves-effect waves-light"
											   href="/tyre/add">Add New Tyre</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
										<thead>
										<tr>
											<th>No</th>
											<th>S/N</th>
											<th>Brand</th>
											<th>Model</th>
											<th>Size</th>
											<th>Date</th>
											<th>Position</th>
											<th>Odometer</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
										</thead>
										<tbody>
										<!-- Use Thymeleaf to iterate over the tyres -->
										<tr th:each="tyre, iterStat : ${tyres}">
											<td th:text="${iterStat.count}"></td>
											<td th:text="${tyre.serialNumber}"></td>
											<td th:text="${tyre.brand}"></td>
											<td th:text="${tyre.model}"></td>
											<td th:text="${tyre.size}"></td>
											<td th:text="${tyre.purchaseDate}"></td>
											<td th:text="${tyre.position}"></td>
											<td th:text="${tyre.odometer}"></td>
											<td >
												<span class="badge badge-soft-danger" th:if="${tyre.state == 'DECOMMISSIONED'}">DECOMMISSIONED</span>
												<span class="badge badge-soft-info" th:if="${tyre.state == 'COMMISSIONED'}">COMMISSIONED</span>
												<span class="badge badge-soft-warning" th:if="${tyre.state == 'UNDER MAINTENANCE'}">UNDER MAINTENANCE</span>
												<span class="badge badge-soft-success" th:if="${tyre.state == 'AVAILABLE'}"> AVAILABLE</span>
											</td>
											<td>
												<div class="btn-group">
													<button class="btn btn-secondary dropdown-toggle" type="button"
															id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true"
															aria-expanded="false">
														Actions <i class="mdi mdi-chevron-down"></i>
													</button>
													<ul class="dropdown-menu" aria-labelledby="defaultDropdown">
														<li><a class="dropdown-item"  th:href="@{'/tyre/view/' + ${tyre.id}}">View</a></li>
														<li><a class="dropdown-item"  th:href="@{'/tyre/edit/' + ${tyre.id}}">Edit</a></li>
														<div class="dropdown-divider"></div>
														<li><a class="dropdown-item" th:href="@{'/tyre/delete/' + ${tyre.id}}">Delete</a></li>
													</ul>
												</div>

											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->
				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->
		</div>
	</div>

	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>
	</th:block>

</body>