<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		type="text/css" />

</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->
					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Tyre Details</h5>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title mb-8">Tyre Information</h4>

									<div class="table-responsive">
										<table class="table table-nowrap mb-0">
											<tbody>
											<tr>
												<th scope="row">Serial Number:</th>
												<td th:text="${tyre.serialNumber}"></td>
											</tr>
											<tr>
												<th scope="row">TAK ID:</th>
												<td th:text="${tyre.takId}"></td>
											</tr>
											<tr>
												<th scope="row">Brand:</th>
												<td th:text="${tyre.brand}"></td>
											</tr>
											<tr>
												<th scope="row">Size:</th>
												<td th:text="${tyre.size}"></td>
											</tr>
											<tr>
												<th scope="row">Tread Depth:</th>
												<td th:text="${tyre.treadDepth}"></td>
											</tr>
											<tr>
												<th scope="row">Manufacture Date:</th>
												<td th:text="${tyre.manufactureDate}"></td>
											</tr>
											<tr>
												<th scope="row">Purchase Date:</th>
												<td th:text="${tyre.purchaseDate}"></td>
											</tr>
											<tr>
												<th scope="row">Purchase Price:</th>
												<td th:text="${tyre.purchasePrice}"></td>
											</tr>
											<tr>
												<th scope="row">Position:</th>
												<td th:text="${tyre.position}"></td>
											</tr>
											<tr>
												<th scope="row">Odometer:</th>
												<td th:text="${tyre.odometer}"></td>
											</tr>
											<tr th:if="${tyre.state == 'COMMISSIONING'}">
												<th scope="row">Commissioning Date:</th>
												<td th:text="${tyre.commissioningDate}"></td>
											</tr>
											<tr th:if="${tyre.state == 'DECOMMISSIONED'}">
												<th scope="row">Decommissioning Date:</th>
												<td th:text="${tyre.decommissioningDate}"></td>
											</tr>
											<tr>
												<th scope="row">Comments:</th>
												<td th:text="${tyre.comments}"></td>
											</tr>
											<tr>
												<th scope="row">State:</th>
												<td >
													<span class="badge badge-soft-danger" th:if="${tyre.state == 'DECOMMISSIONED'}">DECOMMISSIONED</span>
													<span class="badge badge-soft-primary" th:if="${tyre.state == 'COMMISSIONING'}">COMMISSIONING</span>
													<span class="badge badge-soft-info" th:if="${tyre.state == 'COMMISSIONED'}">COMMISSIONED</span>
													<span class="badge badge-soft-dark" th:if="${tyre.state == 'DECOMMISSIONING'}">DECOMMISSIONING</span>
													<span class="badge badge-soft-warning" th:if="${tyre.state == 'UNDER MAINTENANCE'}">UNDER MAINTENANCE</span>
													<span class="badge badge-soft-success" th:if="${tyre.state == 'AVAILABLE'}">AVAILABLE</span>
													<span class="badge badge-soft-secondary" th:if="${tyre.state == 'TO PROCURE'}">TO PROCURE</span>
												</td>
											</tr>
											<tr>
												<th scope="row">Created Date:</th>
												<td th:text="${#temporals.format(tyre.createdDate, 'dd/MM/yyyy HH:mm')}"></td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6 offset-3">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Tyre Attachments</h5>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title mb-8">Attachments</h4>
									<div id="success-message" style="display: none;">
										<div class="alert alert-info alert-dismissible fade show" role="alert">
											You have successfully deleted a file!
											<button type="button" class="btn-close" data-bs-dismiss="alert"
													aria-label="Close"></button>
										</div>
									</div>

									<div th:if="${attachments.size() > 0}">
										<table class="table table-hover">
											<thead class="thead-light">
											<tr>
												<th scope="col">File Name</th>
												<th scope="col">Link</th>
												<th scope="col">Actions</th>
											</tr>
											</thead>
											<tbody>
											<tr th:each="file : ${attachments}">
												<td>[[${file.filename}]]</td>
												<td><a th:href="@{'/api/files/download/' + ${file.keyName}}">Download</a></td>
<!--												<td>-->
<!--													<button onclick="deleteFile(${file.id});" id="btnDelete"-->
<!--													   title="Delete this file" class="fa-regular fa-trash-can icon-dark btn-delete"> Delete</button>-->
<!--												</td>-->
											</tr>
											</tbody>
										</table>
									</div>

									<div th:unless="${attachments.size() > 0}">
										<span>No files found.</span>
									</div>
								</div>

								<div class="modal fade text-center" id="confirmModal">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Delete Confirmation</h5>
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>

											<div class="modal-body">
												<span id="confirmText"></span>
											</div>

											<div class="modal-footer">
												<a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
												<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>


				</div>
					<!--  end row -->
				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->

			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->

		</div>
	</div>
	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">

		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<script>
			function deleteFile(id){
				alert('aded');
				$.ajax({
					url: '/api/files/delete/'+id,
					method: 'DELETE',
					success: function () {
						alert('record has been deleted');
						location.reload();
					},
					error: function (error) {
						alert(error);
					}
				})
			}

		</script>
	</th:block>

</body>