<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<title th:text="${title} +' | Skote - Admin & Dashboard Template'"> </title>
</head>
<th:block layout:fragment="pagecss">
	<!-- DataTables -->
	<link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
		  type="text/css" />

	<!-- Responsive datatable examples -->
	<link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
		  type="text/css" />

</th:block>

<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${title})"></div>
					<!-- end page title -->


					<div class="row">
						<div class="col-xl-12">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Commission Submitted, Waiting for Approval</h5>
									<p class="card-title-desc">This commission has been submitted and is currently waiting for approval of the Head of Operations</p>

									<div class="mt-5">
										<div class="position-relative m-3">
											<div class="progress" style="height: 1px;">
												<div class="progress-bar" role="progressbar" style="width: 0%;"
													 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<button type="button"
													class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
													style="width: 2rem; height:2rem;">1</button>
											<button type="button"
													class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill"
													style="width: 2rem; height:2rem;">2</button>
											<button type="button"
													class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
													style="width: 2rem; height:2rem;">3</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--  end row -->
					<div class="row">
						<div class="col-8 ">
							<div class="row">

								<div class="col-12 ">
									<div class="card">
										<div class="card-body border-bottom">
											<div class="d-flex align-items-center">
												<h5 class="mb-0 card-title flex-grow-1">Commission Records</h5>
											</div>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
													<thead>
													<tr>
														<th>No</th>
														<th>Tyre</th>
														<th>Truck</th>
														<th>Officer</th>
														<th>Commission Date</th>
														<th>Odometer</th>
														<th>Status</th>
														<th>Action</th>
													</tr>
													</thead>
													<tbody>
													<!-- Use Thymeleaf to iterate over the tyres -->
													<tr th:each="commission, iterStat : ${previousCommissions}">
														<td th:text="${iterStat.count}"></td>
														<td th:text="${commission.truck.takId}"></td>
														<td th:text="${commission.tyre.takId}"></td>
														<td th:text="${commission.responsibleOfficer}"></td>
														<td th:text="${commission.dateOfCommissioning}"></td>
														<td th:text="${commission.odometer}"></td>
														<td >
															<span class="badge badge-soft-danger" th:if="${commission.state == 'CANCELLED'}">CANCELLED</span>
															<span class="badge  badge-soft-warning" th:if="${commission.state == 'SUBMITTED'}">SUBMITTED</span>
															<span class="badge badge-soft-info" th:if="${commission.state == 'COMPLETED'}">COMPLETED</span>
															<span class="badge badge-soft-success" th:if="${commission.state == 'APPROVED'}"> APPROVED</span>
														</td>
														<td th:if="${commission.state != 'CANCELLED'}">
															<div class="btn-group">
																<button class="btn btn-secondary dropdown-toggle" type="button"
																		id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true"
																		aria-expanded="false">
																	Actions <i class="mdi mdi-chevron-down"></i>
																</button>
																<ul class="dropdown-menu" aria-labelledby="defaultDropdown">
																	<li><a class="dropdown-item"  th:href="@{'/commission/view/' + ${commission.id}}">View</a></li>
																	<li sec:authorize="hasAnyRole('ADMIN','HOO')">
																		<a class="dropdown-item" th:if="${commission.state == 'SUBMITTED'}" th:href="@{'approve/' + ${commission.id}}">Approve</a>
																		<a class="dropdown-item" th:if="${commission.state == 'APPROVED'}" th:href="@{'complete/' + ${commission.id}}">Complete</a>
																	</li>

																	<li><a class="dropdown-item"  th:href="@{'cancel/' + ${commission.id}}">Cancel</a></li>

																</ul>
															</div>

														</td>

													</tr>
													</tbody>
												</table>
											</div>

										</div>
									</div>
								</div> <!-- end col -->
							</div>
							<div class="row">

								<div class="col-12 ">
									<div class="card">
										<div class="card-body border-bottom">
											<div class="d-flex align-items-center">
												<h5 class="mb-0 card-title flex-grow-1">Decommission Records</h5>
											</div>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="datatable-buttons-1" class="table table-bordered dt-responsive nowrap w-100">
													<thead>
													<tr>
														<th>No</th>
														<th>Tyre</th>
														<th>Truck</th>
														<th>Officer</th>
														<th>Decommission Date</th>
														<th>Odometer</th>
														<th>Status</th>
														<th>Action</th>
													</tr>
													</thead>
													<tbody>
													<!-- Use Thymeleaf to iterate over the tyres -->
													<tr th:each="decommission, iterStat : ${previousDecommissions}">
														<td th:text="${iterStat.count}"></td>
														<td th:text="${decommission.truck.takId}"></td>
														<td th:text="${decommission.tyre.takId}"></td>
														<td th:text="${decommission.responsibleOfficer}"></td>
														<td th:text="${decommission.dateOfDecommissioning}"></td>
														<td th:text="${decommission.odometer}"></td>
														<td >
															<span class="badge badge-soft-danger" th:if="${decommission.state == 'CANCELLED'}">CANCELLED</span>
															<span class="badge  badge-soft-warning" th:if="${decommission.state == 'SUBMITTED'}">SUBMITTED</span>
															<span class="badge badge-soft-info" th:if="${decommission.state == 'COMPLETED'}">COMPLETED</span>
															<span class="badge badge-soft-success" th:if="${decommission.state == 'APPROVED'}"> APPROVED</span>
														</td>
														<td th:if="${decommission.state != 'CANCELLED'}">
															<div class="btn-group">
																<button class="btn btn-secondary dropdown-toggle" type="button"
																		id="defaultDropdown1" data-bs-toggle="dropdown" data-bs-auto-close="true"
																		aria-expanded="false">
																	Actions <i class="mdi mdi-chevron-down"></i>
																</button>
																<ul class="dropdown-menu" aria-labelledby="defaultDropdown1">
																	<li><a class="dropdown-item"  th:href="@{'/decommission/view/' + ${decommission.id}}">View</a></li>
																	<li sec:authorize="hasAnyRole('ADMIN','HOO')">
																		<a class="dropdown-item" th:if="${decommission.state == 'SUBMITTED'}" th:href="@{'approve/' + ${decommission.id}}">Approve</a>
																		<a class="dropdown-item" th:if="${decommission.state == 'APPROVED'}" th:href="@{'complete/' + ${decommission.id}}">Complete</a>
																	</li>

																	<li><a class="dropdown-item"  th:href="@{'cancel/' + ${decommission.id}}">Cancel</a></li>

																</ul>
															</div>

														</td>

													</tr>
													</tbody>
												</table>
											</div>

										</div>
									</div>
								</div> <!-- end col -->
							</div>
						</div> <!-- end col -->
						<div class="col-4">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Approve Commission</h5>
										<div class="flex-shrink-0">
											<a type="button" class="btn btn-primary waves-effect waves-light"
											   href="/commission/" >Commission List</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<form class="needs-validation" method="post" role="form" th:action="@{/commission/approve}" th:object="${commission}">

										<div class="mb-3">
											<input hidden type="text" class="form-control" id="id" name="id" th:field="*{id}" required>
										</div>

										<div class="table-responsive">
											<table class="table table-nowrap mb-0">
												<tbody>
												<tr>
													<th scope="row">Tyre:</th>
													<td th:text="${commission.tyre.takId}"></td>
												</tr>
												<tr>
													<th scope="row">Truck:</th>
													<td th:text="${commission.truck.takId}"></td>
												</tr>
												<tr>
													<th scope="row">Reason for Commissioning:</th>
													<td th:text="${commission.reasonForCommissioning}"></td>
												</tr>
												<tr>
													<th scope="row">Commissioning Date:</th>
													<td th:text="${commission.dateOfCommissioning}"></td>
												</tr>
												<tr>
													<th scope="row">Odometer:</th>
													<td th:text="${commission.odometer}"></td>
												</tr>
												<tr>
													<th scope="row">Responsible Officer:</th>
													<td th:text="${commission.responsibleOfficer}"></td>
												</tr>
												<tr>
													<th scope="row">Initial Comments:</th>
													<td th:text="${commission.initialComments}"></td>
												</tr>
												<tr>
													<th scope="row">Status:</th>
													<td>
														<span class="badge badge-soft-danger" th:if="${commission.state == 'CANCELLED'}">CANCELLED</span>
														<span class="badge  badge-soft-warning" th:if="${commission.state == 'SUBMITTED'}">SUBMITTED</span>
														<span class="badge badge-soft-info" th:if="${commission.state == 'COMPLETED'}">COMPLETED</span>
														<span class="badge badge-soft-success" th:if="${commission.state == 'APPROVED'}"> APPROVED</span>
													</td>
												</tr>

												<tr>
													<th scope="row">Created Date:</th>
													<td th:text="${#temporals.format(commission.createdDate, 'yyyy-MM-dd')}"></td>
												</tr>
												</tbody>
											</table>
										</div>
										<hr>
										<br>

										<div class="mb-3">
											<label for="approvalComments" class="form-label">Approval Comments</label>
											<textarea type="text" required class="form-control" id="approvalComments" name="approvalComments" th:field="*{approvalComments}" placeholder="Enter comments"></textarea>
											<p th:errors="*{approvalComments}" class="text-danger" th:if="${#fields.hasErrors('approvalComments')}"></p>
										</div>



										<!-- Add more fields for other properties -->
										<!-- For example, VIN, Make, Model, Brand, Year, Odometer, etc. -->

										<div class="mt-4 d-grid">
											<button class="btn btn-primary waves-effect waves-light" type="submit">Approve</button>
										</div>
									</form>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->
	<!-- end main content-->

	<!-- END layout-wrapper -->
					<!-- Start footer -->
					<div th:replace="footer :: footer"></div>
					<!-- end footer -->

	<th:block layout:fragment="script">


		<!-- Required datatable js -->
		<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<!-- Buttons examples -->
		<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
		<script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

		<!-- Responsive examples -->
		<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>

	</th:block>

</body>