<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>
	<title>Dashboard | Skote - Admin & Dashboard Template</title>
</head>
<th:block layout:fragment="pagecss">

</th:block>
<body>

	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div layout:fragment="content">
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div th:replace="page-title :: topnavbar(${title},${item},${subitem})"></div>
					<!-- end page title -->


					<div class="row">
								<div class="col-sm-3">
									<div class="card">
										<div class="card-body">
											<div class="d-flex align-items-center mb-3">
												<div class="avatar-xs me-3">
													<span
															class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-18">
														<i class="bx bx-copy-alt"></i>
													</span>
												</div>
												<h5 class="font-size-14 mb-0">Submitted</h5>
											</div>
											<div class="text-muted mt-4">
												<span id="numberOfSubmitted">10</span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="card">
										<div class="card-body">
											<div class="d-flex align-items-center mb-3">
												<div class="avatar-xs me-3">
													<span
															class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-18">
														<i class="bx bx-archive-in"></i>
													</span>
												</div>
												<h5 class="font-size-14 mb-0">Approved</h5>
											</div>
											<div class="text-muted mt-4">
												<span id="numberOfApproved">10</span>

											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="card">
										<div class="card-body">
											<div class="d-flex align-items-center mb-3">
												<div class="avatar-xs me-3">
													<span
															class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-18">
														<i class="bx bx-purchase-tag-alt"></i>
													</span>
												</div>
												<h5 class="font-size-14 mb-0">Completed</h5>
											</div>
											<div class="text-muted mt-4">
												<span id="numberOfCompleted" >4</span>


											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="card">
										<div class="card-body">
											<div class="d-flex align-items-center mb-3">
												<div class="avatar-xs me-3">
													<span
															class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-18">
														<i class="bx bx-purchase-tag-alt"></i>
													</span>
												</div>
												<h5 class="font-size-14 mb-0">Cancelled</h5>
											</div>
											<div class="text-muted mt-4">
												<span id="numberOfCancelled" >4</span>


											</div>
										</div>
									</div>
								</div>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body border-bottom">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 card-title flex-grow-1">Commission List</h5>
										<div class="flex-shrink-0">
											<a type="button" class="btn btn-primary waves-effect waves-light"
											   href="/commission/add">Commission a new tyre</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div th:if="${param.approved}">
										<div class="alert alert-info alert-dismissible fade show" role="alert">
											You have successfully approved a commission request!
											<button type="button" class="btn-close" data-bs-dismiss="alert"
													aria-label="Close"></button>
										</div>
									</div>
									<div th:if="${param.completed}">
										<div class="alert alert-info alert-dismissible fade show" role="alert">
											You have successfully Completed a commission request!
											<button type="button" class="btn-close" data-bs-dismiss="alert"
													aria-label="Close"></button>
										</div>
									</div>
									<div th:if="${param.canceled}">
										<div class="alert alert-info alert-dismissible fade show" role="alert">
											You have successfully cancelled a commission request!
											<button type="button" class="btn-close" data-bs-dismiss="alert"
													aria-label="Close"></button>
										</div>
									</div>
									<table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
										<thead>
										<tr>
											<th>No</th>
											<th>Tyre</th>
											<th>Truck</th>
											<th>Officer</th>
											<th>Commission Date</th>
											<th>Odometer</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
										</thead>
										<tbody>
										<!-- Use Thymeleaf to iterate over the tyres -->
										<tr th:each="commission, iterStat : ${commissions}">
											<td th:text="${iterStat.count}"></td>
											<td th:text="${commission.truck.takId}"></td>
											<td th:text="${commission.tyre.takId}"></td>
											<td th:text="${commission.responsibleOfficer}"></td>
											<td th:text="${commission.dateOfCommissioning}"></td>
											<td th:text="${commission.odometer}"></td>
											<td >
												<span class="badge badge-soft-danger" th:if="${commission.state == 'CANCELLED'}">CANCELLED</span>
												<span class="badge  badge-soft-warning" th:if="${commission.state == 'SUBMITTED'}">SUBMITTED</span>
												<span class="badge badge-soft-info" th:if="${commission.state == 'COMPLETED'}">COMPLETED</span>
												<span class="badge badge-soft-success" th:if="${commission.state == 'APPROVED'}"> APPROVED</span>
											</td>
											<td th:if="${commission.state != 'CANCELLED'}">
												<div class="btn-group">
													<button class="btn btn-secondary dropdown-toggle" type="button"
															id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true"
															aria-expanded="false">
														Actions <i class="mdi mdi-chevron-down"></i>
													</button>
													<ul class="dropdown-menu" aria-labelledby="defaultDropdown">
														<li><a class="dropdown-item"  th:href="@{'/commission/view/' + ${commission.id}}">View</a></li>
														<li sec:authorize="hasAnyRole('ADMIN','HOO')">
															<a class="dropdown-item" th:if="${commission.state == 'SUBMITTED'}" th:href="@{'approve/' + ${commission.id}}">Approve</a>
															<a class="dropdown-item" th:if="${commission.state == 'APPROVED'}" th:href="@{'complete/' + ${commission.id}}">Complete</a>
														</li>

														<li><a class="dropdown-item"  th:href="@{'cancel/' + ${commission.id}}">Cancel</a></li>

													</ul>
												</div>

											</td>

										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
					<!--  end row -->

				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
			<!-- Start footer -->
			<div th:replace="footer :: footer"></div>
			<!-- end footer -->
			
		</div>
	</div>
	<!-- end main content-->

	<!-- END layout-wrapper -->

	<th:block layout:fragment="script">
		<script th:src="@{/assets/libs/apexcharts/apexcharts.min.js}"></script>
		<!-- dashboard init -->
		<script th:src="@{/assets/js/pages/saas-dashboard.init.js}"></script>

		<!-- apexcharts init -->
		<script th:src="@{/assets/js/pages/apexcharts.init.js}"></script>


		<!-- Datatable init js -->
		<script th:src="@{/assets/js/pages/datatables.init.js}"></script>

		<script th:inline="javascript">
			$(document).ready(function() {
				$.ajax({
					url: '/dashboard-rest/commission',
					type: 'GET',
					success: function(data) {
						// Update the frontend with fetched data
						$('#numberOfSubmitted').text(data.numberOfSubmitted + " commission requests submitted");
						$('#numberOfApproved').text(data.numberOfApproved + " commission requests approved");
						$('#numberOfCancelled').text(data.numberOfCancelled + " commission requests cancelled");
						$('#numberOfCompleted').text(data.numberOfCompleted + " commission requests completed");
						// Update other data...
					},
					error: function(error) {
						console.error(error);
					}
				});
			});
		</script>
	</th:block>

</body>

</html>